body {
    color: black;
}
.to-be-wrapped {
    word-wrap : break-word;
}

.underline {
    text-decoration: underline;
}

.intro {
    margin-left: 15px;
}

.dot {
    list-style-type: none;
    }

.resume {
    margin-top: 20px;
    z-index: 1;
}

.codewars {
    border-radius: 50%;
}

.ga-icon {
    border-radius: 50%;
}

.codewars-background {
    width: 16.5px;
    height: 18px;
    background-color:#AD2C27; /*#AD2C27*/
    border-radius: 15%;
}

.side-codewars-background {
    width: 20px;
    background-color: transparent;
    border-radius: 15%;
}

.codewars-svg {  
    filter: invert(92%);
    margin-bottom: 1px;
    margin-left: 1px;
}

.demo-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dice-image {
    max-height: 100px;
}

 